* {
    font-family: 'Jua', sans-serif;
    font-family: 'Noto Serif KR', serif;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.mypic {
    background-size: 300px;
    width: 300px;
    height: 300px;
    background-image: url('../static/5.png');
    background-position: center 20%;
    background-size: cover;

    color: #ffffff;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
}


.mypost {
    width: 60%;
    max-width: 380px;
    margin: 20px auto 20px auto;

    box-shadow: 0px 0px 3px 0px black;
    padding: 20px;
}

.mypost > button {
    margin-top: 15px;
}

.mycomments {
    text-align: center;
    width: 95%;
    max-width: 380px;
    margin: auto;
    margin-bottom: 30px;
}

.mycards > .card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cheer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.me {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.str {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colab {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.velog {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr{
    margin-left: 10%;
    width : 20%;
    margin-top : 30px;
    border : solid black 2px;
    margin-bottom: 5px;
}